PORT=3000
JWT_SECRET=change_this_to_a_random_secret_string
ADMIN_USER=admin
ADMIN_PASS=change_this_password

# SSH/SFTP Storage (Hetzner o simulado)
STORAGE_HOST=216.225.193.216
STORAGE_PORT=22
STORAGE_USER=bovedix-sftp
STORAGE_PASS=your_sftp_password
STORAGE_ROOT=/home/bovedix-sftp/storage

# cPanel server (Neubox)
CPANEL_HOST=174.136.25.250
CPANEL_PORT=3500
CPANEL_USER=root
